.Banner{
    max-height: 100vh;
    object-fit: cover;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-button-prev , .swiper-button-next {
    color: white!important;
}

@media only screen and (min-width: 992px) {
  .card{
    margin: 7px; 
  }



  .wrap-up{
    flex-wrap:nowrap !important ;
  }
 
}

/* Smaller than standard 992 (devices and browsers) */
@media only screen and (max-width: 992px) {
  .card{
    margin-top: 7px;
  }

 .collapsing{
		display:none;
	}

  .collapse.navbar-collapse{
    font-size:18px;
    position:absolute;
    z-index: 99;
    background:#343a40;
    left: 0%;
    top:100%;
    width:100%;
    transition: ;
   } 

  .navbar-nav a::before {
    content:"\2192";
    margin-left : 1rem;
    padding-right: 1rem;
    color:white;
    font-size: 22px;
  }

  .dropdown-menu.show{
    border:0rem; 
    border-radius:0em;
    background:#343a40;
  }

  .dropdown-item {
    color : rgba(255,255,255,.5) !important ;
    font-size :16px;
}

.dropdown-item:focus, .dropdown-item:hover , .dropdown-item:visited ,.dropdown-item a:visited , .dropdown-item a:active{
  color : white !important;
  background-color: #343a40 !important;
}

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .card{
    margin-top: 7px;
  }
  
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  .card{
    margin-top: 7px;
  }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .card{
    margin-top: 10px;
    margin-left: 10px;
    margin-right:10px;
  }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .card{
    margin-top: 10px;
    margin-left: 10px;
    margin-right:10px;
  }
}